.pad {
    width: 80px;
    aspect-ratio: 1;
    background-color: #8c8664;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 10px 4px #f69922;
    transition: all 2s ease-in-out;
}

.pad:active {
    outline: solid 4px #f69922;
    box-shadow: 0px 0px 10px 10px #f69922;
    transition: none;
}

.pad:disabled {
    box-shadow: none;
    outline: solid 4px black;
    transition: all 0.3s ease-in-out;
}

.pad:disabled .padText {
    color: #8c8664; 
    transition: all 0.3s ease-in-out;
}

.padText {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: #726e52;
    transition: all 2s ease-in-out;
}